# dependencies
node_modules

# production build
build
.svelte-kit

# environment variables
.env
.env.local
.env.production

# misc
.DS_Store
*.log
*.tgz
*.tar.gz

# Vercel
.vercel

# IDE
.vscode
.idea